---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=Sign+up+charge+for+joe%40example.com&source=tok_17JfmYAVGaJ8H7IzfXpxGhyz
    headers:
      Authorization:
      - Bearer sk_test_UQKaKaO4BY9QJUMsi89rnht1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17JfmaAVGaJ8H7Izqg4tkCq2",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17JfmaAVGaJ8H7IzCTp5blQq",
          "captured": true,
          "created": 1450512580,
          "currency": "usd",
          "customer": null,
          "description": "Sign up charge for joe@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17JfmaAVGaJ8H7Izqg4tkCq2/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17JfmYAVGaJ8H7IzrEvJbqLC",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "DgMpTQHwHJNXZl63",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Sat, 19 Dec 2015 08:09:40 GMT
recorded_with: VCR 2.9.3
